@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    h1 {
        @apply text-2xl sm:text-4xl mb-4;
    }
    h2 {
        @apply text-lg sm:text-2xl;
    }
    div {
        @apply select-none;
    }
}

@layer components {
    .game-container {
        @apply border-solid border-4 border-green-800 rounded-3xl px-20 py-8 max-w-screen-xl mx-auto mt-4;
    }
    .btn {
        @apply px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-800 disabled:bg-blue-200;
    }
    .txtinput {
        @apply border border-gray-400 appearance-none rounded py-3 px-4;
    }
    .highlight {
        @apply border border-2 border-yellow-500 bg-yellow-300 rounded;
    }
    .own-player {
        @apply underline;
    }
    .score-column {
        @apply flex flex-col;
    }
    .score-header {
        @apply font-bold text-center p-2;
    }
    .boardRow {
        @apply flex;
    }
    #swap .field div {
        @apply absolute -m-px;
    }
    .field {
        @apply h-10 w-10 border border-solid border-black flex-none text-center leading-10 bg-gray-400 m-0.5;
    }
    .field.used {
        border-color: orchid;
        outline: 3px solid orchid;
    }
    .tile {
        @apply h-10 w-10 border border-solid border-black flex-none text-center leading-10 bg-black -m-px;
    }
    .tile.played {
        border-color: yellow;
        outline: 3px solid yellow;
    }

    .tile.color-0 {
        filter: brightness(0.35) sepia(1) hue-rotate(50deg) saturate(9);
    }
    .tile.color-1 {
        filter: brightness(0.3) sepia(1) hue-rotate(320deg) saturate(4);
    }
    .tile.color-2 {
        filter: brightness(0.5) sepia(1) hue-rotate(0deg) saturate(4);
    }
    .tile.color-3 {
        filter: brightness(0.2) sepia(1) hue-rotate(180deg) saturate(5);
    }
    .tile.color-4 {
        filter: brightness(.35) sepia(1) hue-rotate(220deg) saturate(4);
    }
    .tile.color-5 {
        filter: brightness(0.7) sepia(1) hue-rotate(20deg) saturate(4);
    }
    .tile.color-6 {
        filter: brightness(0.65) sepia(1) hue-rotate(0deg) saturate(0);
    }
    .tile.color-7 {
        filter: brightness(0.55) sepia(1) hue-rotate(130deg) saturate(4);
    }
    .tile.color-8 {
        filter: brightness(.85) sepia(1) hue-rotate(35deg) saturate(9);
    }
    .tile.color-9 {
        filter: brightness(0.6) sepia(1) hue-rotate(290deg) saturate(9);
    }
    .tile.shape-0 {
        background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg viewBox=%220 0 10 10%22 xmlns=%22http://www.w3.org/2000/svg%22%3E%3Ccircle fill=%22%23ffffff%22 cx=%225%22 cy=%225%22 r=%224%22 /%3E%3C/svg%3E');
    }
    .tile.shape-1 {
        background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg viewBox=%220 0 10 10%22 xmlns=%22http://www.w3.org/2000/svg%22%3E%3Crect fill=%22%23ffffff%22 width=%225%22 height=%225%22 x=%22-2.5%22 y=%224.5%22 transform=%22rotate(-45)%22 /%3E%3C/svg%3E');
    }
    .tile.shape-2 {
        background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg viewBox=%220 0 10 10%22 xmlns=%22http://www.w3.org/2000/svg%22%3E%3Cpath fill=%22%23ffffff%22 d=%22M 7.9282032,7.9282032 C 7.197715,7.545017 6.4672268,7.1618308 5.7367387,6.7786445 5.4911591,7.5661313 5.2455795,8.353618 4.9999999,9.1411047 4.7544204,8.353618 4.5088408,7.5661312 4.2632612,6.7786446 3.5327731,7.1618308 2.8022849,7.545017 2.0717967,7.9282032 2.4549829,7.197715 2.8381692,6.4672268 3.2213555,5.7367387 2.4338687,5.4911591 1.646382,5.2455795 0.8588953,4.9999999 1.646382,4.7544203 2.4338688,4.5088408 3.2213554,4.2632612 2.8381692,3.532773 2.454983,2.8022849 2.0717968,2.0717967 2.802285,2.4549829 3.5327732,2.8381691 4.2632613,3.2213554 4.5088409,2.4338686 4.7544205,1.646382 5.0000001,0.85889527 5.2455796,1.646382 5.4911592,2.4338687 5.7367388,3.2213554 6.4672269,2.8381691 7.1977151,2.4549829 7.9282033,2.0717967 7.5450171,2.8022849 7.1618309,3.5327731 6.7786445,4.2632613 7.5661313,4.5088409 8.353618,4.7544205 9.1411047,5 8.353618,5.2455796 7.5661313,5.4911592 6.7786446,5.7367387 7.1618308,6.4672269 7.545017,7.1977151 7.9282032,7.9282032 Z%22 /%3E%3C/svg%3E');
    }
    .tile.shape-3 {
        background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg viewBox=%220 0 10 10%22 xmlns=%22http://www.w3.org/2000/svg%22%3E%3Cpath fill=%22%23ffffff%22 d=%22M 8.9999999,8.9999999 5.0952382,6.6774794 1.0000001,8.9999999 3.3225206,5.0952382 1.0000001,1.0000001 4.9047618,3.3225206 8.9999999,1.0000001 6.6774794,4.9047618 Z%22 /%3E%3C/svg%3E');
    }
    .tile.shape-4 {
        background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg viewBox=%220 0 10 10%22 xmlns=%22http://www.w3.org/2000/svg%22%3E%3Crect fill=%22%23ffffff%22 width=%227%22 height=%227%22 x=%221.5%22 y=%221.5%22 /%3E%3C/svg%3E');
    }
    .tile.shape-5 {
        background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg viewBox=%220 0 10 10%22 xmlns=%22http://www.w3.org/2000/svg%22%3E%3Cpath fill=%22%23ffffff%22 d=%22M 4.4422255,5 A 1.9711127,1.9711127 0 0 1 2.4711127,6.9711127 1.9711127,1.9711127 0 0 1 0.5,5 1.9711127,1.9711127 0 0 1 2.4711127,3.0288873 1.9711127,1.9711127 0 0 1 4.4422255,5 Z M 6.9711127,2.4496357 A 1.9711127,1.9711127 0 0 1 5,4.4207485 1.9711127,1.9711127 0 0 1 3.0288873,2.4496357 1.9711127,1.9711127 0 0 1 5,0.47852302 1.9711127,1.9711127 0 0 1 6.9711127,2.4496357 Z m 0,5.0792516 A 1.9711127,1.9711127 0 0 1 5,9.5 1.9711127,1.9711127 0 0 1 3.0288873,7.5288873 1.9711127,1.9711127 0 0 1 5,5.5577745 1.9711127,1.9711127 0 0 1 6.9711127,7.5288873 Z M 9.5322227,5 A 1.9711127,1.9711127 0 0 1 7.56111,6.9711127 1.9711127,1.9711127 0 0 1 5.5899973,5 1.9711127,1.9711127 0 0 1 7.56111,3.0288873 1.9711127,1.9711127 0 0 1 9.5322227,5 Z m -2.56111,0 A 1.9711127,1.9711127 0 0 1 5,6.9711127 1.9711127,1.9711127 0 0 1 3.0288873,5 1.9711127,1.9711127 0 0 1 5,3.0288873 1.9711127,1.9711127 0 0 1 6.9711127,5 Z%22 /%3E%3C/svg%3E');
    }
    .tile.shape-6 {
        background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg viewBox=%220 0 38 38%22 xmlns=%22http://www.w3.org/2000/svg%22%3E%3Cpath fill=%22%23ffffff%22 d=%22M 18.898438 2.5585938 A 16.339285 16.339285 0 0 0 7.3515625 7.3515625 L 7.34375 7.34375 A 16.339285 16.339285 0 0 0 7.2460938 7.4492188 A 16.339285 16.339285 0 0 0 6.9550781 7.7675781 A 16.339285 16.339285 0 0 0 6.25 8.5703125 A 16.339285 16.339285 0 0 0 5.765625 9.2070312 A 16.339285 16.339285 0 0 0 5.2910156 9.8691406 A 16.339285 16.339285 0 0 0 4.8515625 10.585938 A 16.339285 16.339285 0 0 0 4.4550781 11.277344 A 16.339285 16.339285 0 0 0 4.1074219 12 A 16.339285 16.339285 0 0 0 3.7617188 12.771484 A 16.339285 16.339285 0 0 0 3.4941406 13.507812 A 16.339285 16.339285 0 0 0 3.2304688 14.298828 A 16.339285 16.339285 0 0 0 3.0273438 15.095703 A 16.339285 16.339285 0 0 0 2.8496094 15.888672 A 16.339285 16.339285 0 0 0 2.7265625 16.693359 A 16.339285 16.339285 0 0 0 2.6289062 17.503906 A 16.339285 16.339285 0 0 0 2.5585938 18.898438 A 16.339285 16.339285 0 0 0 7.3515625 30.443359 L 7.34375 30.451172 A 16.339285 16.339285 0 0 0 7.4511719 30.548828 A 16.339285 16.339285 0 0 0 7.7734375 30.845703 A 16.339285 16.339285 0 0 0 8.5683594 31.544922 A 16.339285 16.339285 0 0 0 9.203125 32.027344 A 16.339285 16.339285 0 0 0 9.8789062 32.509766 A 16.339285 16.339285 0 0 0 10.558594 32.925781 A 16.339285 16.339285 0 0 0 11.289062 33.345703 A 16.339285 16.339285 0 0 0 11.994141 33.685547 A 16.339285 16.339285 0 0 0 12.765625 34.03125 A 16.339285 16.339285 0 0 0 13.490234 34.296875 A 16.339285 16.339285 0 0 0 14.330078 34.574219 A 16.339285 16.339285 0 0 0 15.019531 34.75 A 16.339285 16.339285 0 0 0 15.921875 34.953125 A 16.339285 16.339285 0 0 0 16.619141 35.058594 A 16.339285 16.339285 0 0 0 17.529297 35.169922 A 16.339285 16.339285 0 0 0 18.898438 35.236328 A 16.339285 16.339285 0 0 0 30.443359 30.443359 L 30.451172 30.451172 A 16.339285 16.339285 0 0 0 30.548828 30.34375 A 16.339285 16.339285 0 0 0 30.845703 30.021484 A 16.339285 16.339285 0 0 0 31.544922 29.226562 A 16.339285 16.339285 0 0 0 32.027344 28.591797 A 16.339285 16.339285 0 0 0 32.509766 27.916016 A 16.339285 16.339285 0 0 0 32.925781 27.236328 A 16.339285 16.339285 0 0 0 33.345703 26.505859 A 16.339285 16.339285 0 0 0 33.685547 25.800781 A 16.339285 16.339285 0 0 0 34.03125 25.029297 A 16.339285 16.339285 0 0 0 34.296875 24.304688 A 16.339285 16.339285 0 0 0 34.574219 23.464844 A 16.339285 16.339285 0 0 0 34.748047 22.785156 A 16.339285 16.339285 0 0 0 34.953125 21.871094 A 16.339285 16.339285 0 0 0 35.058594 21.179688 A 16.339285 16.339285 0 0 0 35.169922 20.265625 A 16.339285 16.339285 0 0 0 35.236328 18.898438 A 16.339285 16.339285 0 0 0 30.443359 7.3515625 L 30.451172 7.34375 A 16.339285 16.339285 0 0 0 30.345703 7.2460938 A 16.339285 16.339285 0 0 0 30.027344 6.9550781 A 16.339285 16.339285 0 0 0 29.224609 6.25 A 16.339285 16.339285 0 0 0 28.587891 5.765625 A 16.339285 16.339285 0 0 0 27.925781 5.2910156 A 16.339285 16.339285 0 0 0 27.208984 4.8515625 A 16.339285 16.339285 0 0 0 26.517578 4.4550781 A 16.339285 16.339285 0 0 0 25.794922 4.1074219 A 16.339285 16.339285 0 0 0 25.023438 3.7617188 A 16.339285 16.339285 0 0 0 24.287109 3.4941406 A 16.339285 16.339285 0 0 0 23.494141 3.2304688 A 16.339285 16.339285 0 0 0 22.708984 3.0292969 A 16.339285 16.339285 0 0 0 21.902344 2.8476562 A 16.339285 16.339285 0 0 0 21.105469 2.7285156 A 16.339285 16.339285 0 0 0 20.291016 2.6289062 A 16.339285 16.339285 0 0 0 18.898438 2.5585938 z M 18.898438 4.7246094 L 18.898438 18.898438 L 28.912109 8.8828125 A 14.173228 14.173228 0 0 1 33.070312 18.898438 L 18.898438 18.898438 L 28.912109 28.912109 A 14.173228 14.173228 0 0 1 18.898438 33.070312 L 18.898438 18.898438 L 8.8828125 28.912109 A 14.173228 14.173228 0 0 1 4.7246094 18.898438 L 18.898438 18.898438 L 8.8828125 8.8828125 A 14.173228 14.173228 0 0 1 18.898438 4.7246094 z%22 /%3E%3C/svg%3E');
    }
    .tile.shape-7 {
        background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg viewBox=%22-2 -2 28 28%22 xmlns=%22http://www.w3.org/2000/svg%22%3E%3Cpath fill=%22%23ffffff%22 d=%22M19.35 10.04A7.49 7.49 0 0012 4C9.11 4 6.6 5.64 5.35 8.04A5.994 5.994 0 000 14c0 3.31 2.69 6 6 6h13c2.76 0 5-2.24 5-5 0-2.64-2.05-4.78-4.65-4.96z%22 /%3E%3C/svg%3E');
    }
    .tile.shape-8 {
        background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg viewBox=%220 0 30 30%22 xmlns=%22http://www.w3.org/2000/svg%22%3E%3Cpath fill=%22%23ffffff%22 d=%22M8.75 15.54c-1.12-2.4-.95-4.66.52-6.79 1.03-1.48 2.6-2.39 4.73-2.72.16-.04.34-.07.54-.08h.63c2.91.09 5.05 1.38 6.4 3.88.64 1.18.8 2.48.48 3.91-.26 1.13-.68 2.19-1.28 3.17-1.29 2.01-2.63 3.64-4 4.88-.07.07-.17.16-.3.26-.46.35-.89.53-1.28.54s-.83-.14-1.31-.45a3.37 3.37 0 01-.74-.59c-1.96-2-3.43-4-4.39-6.01zm.11-2.21c.02.11.05.25.09.44s.07.32.09.4c.28 1.26.86 2.23 1.73 2.93.88.7 1.96 1.11 3.26 1.23.29.03.46.02.51-.03s.08-.23.09-.52c-.01-.08-.03-.21-.05-.39-.02-.18-.04-.31-.06-.39-.25-1.34-.88-2.32-1.9-2.93-.18-.11-.39-.22-.62-.34s-.44-.2-.61-.27c-.17-.07-.4-.16-.69-.27-.29-.11-.5-.19-.63-.25-.16-.06-.42-.1-.8-.11-.32 0-.46.17-.41.5zm6.8 4.4c-.02.31 0 .49.06.56.07.07.25.08.55.04.38-.04.78-.12 1.2-.22 1.07-.27 1.94-.84 2.62-1.71.34-.41.6-.86.77-1.34s.34-1.05.47-1.72c.05-.23.04-.38-.03-.46-.07-.08-.22-.11-.44-.08-.59.1-1.12.23-1.59.4-1.15.43-2.02 1.01-2.62 1.74-.6.74-.93 1.66-.99 2.79z%22 /%3E%3C/svg%3E');
    }
    .tile.shape-9 {
        background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg viewBox=%220 0 24 24%22 xmlns=%22http://www.w3.org/2000/svg%22%3E%3Cpath fill=%22%23ffff%22 d=%22M21.25 10.5c-.41 0-.75.34-.75.75h-1.54a6.978 6.978 0 00-1.52-3.65l1.09-1.09.01.01c.29.29.77.29 1.06 0s.29-.77 0-1.06L18.54 4.4a.754.754 0 00-1.06 0c-.29.29-.29.76-.01 1.05l-1.09 1.09a7.015 7.015 0 00-3.64-1.51V3.5h.01c.41 0 .75-.34.75-.75S13.16 2 12.75 2h-1.5c-.41 0-.75.34-.75.75s.33.74.74.75v1.55c-1.37.14-2.62.69-3.64 1.51L6.51 5.47l.01-.01c.29-.29.29-.77 0-1.06a.754.754 0 00-1.06 0L4.4 5.46c-.29.29-.29.77 0 1.06.29.29.76.29 1.05.01l1.09 1.09a6.89 6.89 0 00-1.5 3.63H3.5c0-.41-.34-.75-.75-.75s-.75.34-.75.75v1.5c0 .41.34.75.75.75s.75-.34.75-.75h1.54c.15 1.37.69 2.61 1.5 3.63l-1.09 1.09a.742.742 0 00-1.05.01c-.29.29-.29.77 0 1.06l1.06 1.06c.29.29.77.29 1.06 0 .29-.29.29-.77 0-1.06l-.01-.01 1.09-1.09c1.02.82 2.26 1.36 3.63 1.51v1.55c-.41.01-.74.34-.74.75s.34.75.75.75h1.5c.41 0 .75-.34.75-.75s-.34-.75-.75-.75h-.01v-1.54c1.37-.14 2.62-.69 3.64-1.51l1.09 1.09c-.29.29-.28.76.01 1.05.29.29.77.29 1.06 0l1.06-1.06c.29-.29.29-.77 0-1.06a.754.754 0 00-1.06 0l-.01.01-1.09-1.09a7.025 7.025 0 001.52-3.65h1.54c0 .41.34.75.75.75s.75-.34.75-.75v-1.5c.01-.4-.33-.74-.74-.74zM13.75 8c.55 0 1 .45 1 1s-.45 1-1 1-1-.45-1-1 .45-1 1-1zM12 13c-.55 0-1-.45-1-1s.45-1 1-1 1 .45 1 1-.45 1-1 1zm-1.75-5c.55 0 1 .45 1 1s-.45 1-1 1-1-.45-1-1 .45-1 1-1zM8.5 13c-.55 0-1-.45-1-1s.45-1 1-1 1 .45 1 1-.45 1-1 1zm1.75 3c-.55 0-1-.45-1-1s.45-1 1-1 1 .45 1 1-.45 1-1 1zm3.5 0c-.55 0-1-.45-1-1s.45-1 1-1 1 .45 1 1-.45 1-1 1zm.75-4c0-.55.45-1 1-1s1 .45 1 1-.45 1-1 1-1-.45-1-1z%22 /%3E%3C/svg%3E');
    }
    /*
    .tile.shape-10 {
        background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg viewBox=%220 0 10 10%22 xmlns=%22http://www.w3.org/2000/svg%22%3E%3Cpath fill=%22%none%22 stroke=%22%23ffff%22 stroke-width=%22.7%22 d=%22M 5.1055156,5.7095567 C 4.8973533,5.9558489 4.5191002,5.9598109 4.2806122,5.7559004 3.9886082,5.5062329 3.9848282,5.0555431 4.2295527,4.7723038 4.5263825,4.4287586 5.0590549,4.4253033 5.3928069,4.7164357 5.794159,5.0665357 5.797127,5.6914758 5.4535441,6.0819363 5.0436027,6.547809 4.3153501,6.5501065 3.861539,6.147569 3.3239726,5.6707393 3.3225503,4.8273493 3.7910202,4.3030877 4.3422738,3.6861835 5.3134254,3.6858632 5.9157067,4.22773 6.6200747,4.8614433 6.6190433,5.9738002 5.9958165,6.6621507 5.2710952,7.4626013 4.0032509,7.4599448 3.2202903,6.7468844 2.3146346,5.9220827 2.3192139,4.4836116 3.131104,3.596998 4.0655946,2.5765002 5.6907077,2.5833251 6.6905301,3.5035749 7.8360318,4.5579099 7.8266129,6.3865747 6.7879278,7.5096851 5.6030342,8.7908878 3.5529956,8.7785 2.2959843,7.6107471 0.86783798,6.2840111 0.88359665,3.9938462 2.1916178,2.5917772 3.6720606,1.0048891 6.2220522,1.0244483 7.78089,2.484517 9.5237044,4.1169054 9.5180337,6.9182296 7.9269338,8.65037%22 /%3E%3C/svg%3E');
    }
    */
}