<div class="bg-yellow-200 p-2 pb-8 md:px-10 md:py-8 max-h-screen flex flex-col">
    <h1 class="text-center hidden sm:block h-12">Qwirkle</h1>
    <div class="flex flex-initial mb-2">
        <div id="toggle-score" class="font-bold text-xl mr-2"></div>
        <div id="score" class="grid"> </div>
    </div>
    <div class="flex-initial bg-yellow-50 px-6 pt-4 pb-6 rounded-t-xl">
        <div id="player-controls" class="flex flex-wrap">
            <div class="flex flex-wrap sm:mr-4 mt-2">
                <div id="hand" class="flex flex-wrap bg-gray-300"></div>
                <button id="button-play" class="btn mx-2"></button>
            </div>
            <div class="flex flex-wrap mt-2">
                <div id="swap" class="relative bg-gray-300"></div>
                <button id="button-swap" class="btn mx-2"></button>
            </div>
        </div>
    </div>
    <div id="board" class="max-w-full overflow-scroll px-6 pb-6 bg-yellow-50 flex-auto"></div>
    <div class="flex-initial bg-yellow-50 h-6 rounded-b-xl"></div>
</div>