<div class="xl:game-container bg-yellow-200 p-2 pb-8 sm:px-20 sm:py-8">
    <h1 class="text-center">Qwirkle</h1>
    <h2 class="text-center mb-2"><span id="share"></span>: <a id="game-url" class="whitespace-nowrap"></a></h2>
    <h2 id="i18n-players" class="mb-2"></h2>
    <div id="player-list" class="mb-4"></div>
    <form id="player-form">
        <input type="text" name="userName" id="username-input" class="txtinput mb-2 mr-2"/>
        <select name="qwirkleSize" id="qs-input" class="txtinput mb-2 mr-2 w-14">
            <option value="0" disabled id="i18n-qs"></option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6" selected>6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
        <input type="submit" class="btn mb-2" id="player-form-submit"/>
    </form>
    <button class="btn" id="start-game-button" ></button>
    <div class="mt-4 text-right whitespace-nowrap">
        <a href="?lang=de-DE" id="lang-label-de">de</a> | <a href="?lang=en-US" id="lang-label-en">en</a>
    </div>
    <div class="mt-4 text-right">
        Free Open Source Software:<br><a href="https://gitlab.com/jannis701/qwirkle" target="_blank" class="whitespace-nowrap">https://gitlab.com/jannis701/qwirkle</a>
    </div>
</div>
