<div class="bg-yellow-200 p-2 pb-8 md:px-10 md:py-8 max-h-screen flex flex-col">
    <h1 class="text-center">Qwirkle</h1>
    <div class="flex flex-initial mb-2">
        <div id="toggle-score" class="font-bold text-xl mr-2"></div>
        <div id="score" class="grid"> </div>
    </div>
    <button id="button-reset" class="btn mb-4 mt-2"></button>

    <div class="flex-initial bg-yellow-50 px-6 pt-4 pb-6 rounded-t-xl"></div>
    <div id="board" class="max-w-full overflow-scroll px-6 pb-6 bg-yellow-50 flex-auto"></div>
    <div class="flex-initial bg-yellow-50 h-6 rounded-b-xl"></div>    
    <div class="mt-4 text-right">
        Free Open Source Software:<br><a href="https://gitlab.com/jannis701/qwirkle" target="_blank" class="whitespace-nowrap">https://gitlab.com/jannis701/qwirkle</a>
    </div>
</div>
